extends contact
block title_all
    title Thất bại và bài học xương máu
block left_in
    .info_content_in
        h3 Chương 2
        h4 Thất bại của tôi bài học nhận được
        span kẻ lắm cuyện
    .main_content_in
        span Lời nói đầu 
        br
        img(src="/picture/face.png", alt="", srcset="")
        p(class="intro4")
block right_in
    .item_book_in
        .content_item
            a(href="/an_tuong_3_lan_gap")
                h3 Ấn tượng 3 lần gặp
            p 
                span ___
                |Chỉ là những ấn tượng khó quên sau khi gặp 1 đứa con gái ...
        img(src="picture/img_day/girl.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/kali_linux")
                h3 Hệ điều hành kali linux
            p 
                span ___
                |Kali linux à , tôi sẽ nối cho anh em kinh nghiệm của tôi ....
        img(src="/picture/img_day/linux.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/cun_con_lac_duong")
                h3 Quyển sách đầu tiên đọc hết
            p 
                span ___
                | Sách , một cái gì đó gắn liền với tầng lớp tri thức .....
        img(src="picture/img_day/the_dog.png", alt="", srcset="")