extends contact
block title_all
    title Thất bại và bài học xương máu
block left_in
    .info_content_in
        h3 Chương 5
        h4 May mắn trong cuộc sống
        span kẻ lắm cuyện
    .main_content_in
        span Lời nói đầu 
        br
        img(src="/picture/face.png", alt="", srcset="")
        p(class="intro5")
block right_in
    .item_book_in
        .content_item
            a(href="/an_tuong_3_lan_gap")
                h3 Ấn tượng 3 lần gặp
            p 
                span ___
                |Chỉ là những ấn tượng khó quên sau khi gặp 1 đứa con gái ...
        img(src="picture/img_day/girl.png", alt="", srcset="")
    .item_book_in