extends contact
block title_all
    title Sở thích cá nhân và hệ điều hành kali linux
block left_in
    .info_content_in
        h3 Chương 4
        h4 Sở thích cá nhân vv
        span kẻ lắm cuyện
    .main_content_in
        span Lời nói đầu 
        br
        img(src="/picture/face.png", alt="", srcset="")
        p(class="intro3")
block right_in
    .item_book_in
        .content_item
            a(href="/nhung_gi_toi_hoc_duoc")
                h3 Lợm lặt kiến thức
            p 
                span ___
                |Không biết có ai như tôi không , những thứ tôi học được đầu tiên khi đặt chân ...
        img(src="picture/img_day/bai_hoc.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/kali_linux")
                h3 Hệ điều hành kali linux
            p 
                span ___
                |Kali linux à , tôi sẽ nối cho anh em kinh nghiệm của tôi ....
        img(src="/picture/img_day/linux.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/cun_con_lac_duong")
                h3 Quyển sách đầu tiên đọc hết
            p 
                span ___
                | Sách , một cái gì đó gắn liền với tầng lớp tri thức .....
        img(src="picture/img_day/the_dog.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/cai_nguc_xieng_xich")
                h3 Thresh và tôi
            p 
                span ___
                |Thresh .. chỉ là một vị tướng tôi yêu thích , nhưng ngay từ đầu tôi không hề thích nó nếu ...
        img(src="picture/img_day/thesh_c.png", alt="", srcset="")