extends contact
block title_all
    title chuyên hàng ngày của tôi 
block left_in
    .info_content_in
        h3 Chương 1 
        h4 chuyên hàng ngày của tôi 
        span kẻ lắm cuyện
    .main_content_in
        span Lời nói đầu 
        br
        img(src="/picture/face.png", alt="", srcset="")
        p(class="intro1")
block right_in
    .item_book_in
        .content_item
            a(href="/vong_lap_hang_ngay")
                h3 Vòng lặp hằng ngày
            p 
                span ___
                |Cách đây 3 đến 4 năm trở về trước diều này không ...
        img(src="picture/img_day/day_day.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/ngay_dau_bo_ngo")
                h3 Những Ngày đầu bỡ ngỡ
            p 
                span ___
                |Những tháng ngày đầu tiên tôi đặt chân vào đại học , cũng là những .....
        img(src="/picture/img_day/bo_ngo.png", alt="", srcset="")
    .item_book_in
        .content_item
            a(href="/mql_phan_phong")
                h3 Mối quan hệ 
            p 
                span ___
                |Ở một mình là 1 cảm giác mà không ai muốn , cũng là cảm  giác đau bậc nhất ....
        img(src="picture/img_day/quan_he.png", alt="", srcset="")
    .item_book_in