<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block links
        include include/style
        title Ke lam chuyen 
    body(id="style")
        include include/bookshelf
        include include/body_blog
        include include/comment_blog
        block lay_out