extends status
block title_all
    title Phan Phong _ kẻ trêu ngươi tôi 
block left_content
    .info_status
        h3 Chương 3
        h4 Những con người mà tôi gặp và ấn tượng của tôi về  họ
        span Ngày 17 _ Tháng 4
    .content_status(id="style_9")
        span Câu chuyện thứ nhất : " Phan Phong _ kẻ bắt tôi thả tim khi đăng status "
        br
        img(src="/picture/img_day/pog.png", alt="", srcset="")
        p(class="st4")
            |