extends status
block title_all
    title Một ngày xoay quanh tôi
block left_content
    .info_status
        h3 Chương 1 
        h4 Chuyện thường ngày của tôi
        span Ngày 20 _ Tháng 2 
    .content_status(id="style_9")
        span Câu chuyện thứ nhất : " Vòng lặp hằng ngày "
        br
        img(src="/picture/img_day/day_day.png", alt="", srcset="")
        p(class="st1")
            |