extends status
block title_all
    title Cún con lạc đường
block left_content
    .info_status
        h3 Chương 4
        h4 Sở thích cá nhân và kali linux
        span Ngày 27 _ Tháng 5
    .content_status(id="style_9")
        span Câu chuyện thứ hai : " Cún con lạc đường "
        br
        img(src="/picture/img_day/the_dog.png", alt="", srcset="")
        p(class="st7")
            |