extends status
block title_all
    title Những gì tôi học được 
block left_content
    .info_status
        h3 Chương 4
        h4 Sở thích cá nhân và kali linux
        span Ngày 27 _ Tháng 5
    .content_status(id="style_9")
        span Câu chuyện thứ nhất : " Kali linux "
        br
        img(src="/picture/img_day/linux.png", alt="", srcset="")
        p(class="st6")
            |