extends status
block title_all
    title Những ngày đầu đặt chân vào tp.HCM
block left_content
    .info_status
        h3 Chương 2
        h4 Thất bại của tôi bài học nhận được
        span Ngày 15 _ Tháng 2 
    .content_status(id="style_9")
        span Câu chuyện thứ nhất : " Ngày đầu đặt chân vào Sài Gòn"
        br
        img(src="/picture/img_day/bo_ngo.png", alt="", srcset="")
        p(class="st2")
            |