extends status
block title_all
    title Cai ngục xiềng xích
block left_content
    .info_status
        h3 Chương 4
        h4 Sở thích cá nhân và kali linux
        span Ngày 27 _ Tháng 7
    .content_status(id="style_9")
        span Câu chuyện thứ ba : " Cai ngục xiềng xích - Thresh "
        br
        img(src="/picture/img_day/thesh_c.png", alt="", srcset="")
        p(class="st8")
            |