extends status
block title_all
    title Người có tên nick face Hương Akily
block left_content
    .info_status
        h3 Chương 3
        h4 Những con người mà tôi gặp và ấn tượng của tôi về  họ
        span Ngày 02 _ Tháng 9
    .content_status(id="style_9")
        span Câu chuyện hai : " Chỉ là những gì nhớ được sau mấy lần gặp thôi "
        br
        img(src="/picture/img_day/akily.png", alt="", srcset="")
        p(class="st3")
            |