extends status
block title_all
    title Những gì tôi học được 
block left_content
    .info_status
        h3 Chương 2
        h4 Thất bại của tôi bài học nhận được
        span Ngày 23 _ Tháng 6
    .content_status(id="style_9")
        span Câu chuyện thứ hai : " Youtobe và tôi  "
        br
        img(src="/picture/img_day/threshc.png", alt="", srcset="")
        p(class="st5")
            |