address
    .add_sign_blog
        .main_add_blog
            .icon_close
                label(for="")
                    i(class="fas fa-times")
            .main_bl
                img(src="/picture/face.png", alt="", srcset="")
                h3 Chào mừng bạn đến với blog của tôi
                a
                    span ____
                    |Đăng nhập để cho tôi biết cảm nghĩ của bạn
                br
                a
                    span ____
                    |Đăng kí nếu bạn chưa có tài khoản
                .link_sign 
                    a(href="sign_in" class="add_dn") Đăng nhập !?
                    span ___
                    a(href="sign_up" class="add_dk") Đăng kí !?
center
    .contact_me
        a(href="https://www.facebook.com/profile.php?id=100007258785390")
            h3 Liên hệ với tôi 
        img(src="/picture/fk_ct.png", alt="", srcset="")
        .sign_blog_cp
            block  content
            a(href="sign_up" class="dk") Đăng kí  
            a(href="sign_in" class="dn") Đăng nhập
    .main_status
        .icon_book
            img(src="/picture/boock_background.png", alt="", srcset="")
            h3 Những câu chuyện của tôi
        .body_status
            .left_status
                block left_content